Package: com.aaron.mytweak
Name: myTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: aaron_lin
Author: aaron_lin
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
